///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

$font-stack-regular: 'founders-grotesk-regular', sans-serif;
$font-stack-bold: 'founders-grotesk-semibold', sans-serif;
$font-stack-freya: 'freya-medium', serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

@mixin font-regular {
  font-family: $font-stack-regular;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;

  @include breakpoint(sm) {
    font-size: 36px;
  }
}
.font-regular { @include font-regular; }

@mixin font-small {
  font-family: $font-stack-regular;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.4px;

  // @include breakpoint(sm) {
  //   font-size: 18px;
  // }
}
.font-small { @include font-small; }

@mixin font-intro-text {
  font-family: $font-stack-freya;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;

  @include breakpoint(sm) {
    font-size: 23px;
    letter-spacing: -1px;
  }
}
.font-intro-text { @include font-intro-text; }

@mixin font-title {
  font-family: $font-stack-freya;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -2.8px;

  @include breakpoint(sm) {
    font-size: 72px;
  }
}

.font-title { @include font-title; }

@mixin font-jumbo {
  font-family: $font-stack-freya;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -2.8px;

  @include breakpoint(sm) {
    font-size: 99px;
  }
}
.font-jumbo { @include font-jumbo; }

@mixin font-subtitle {
  font-family: $font-stack-bold;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  @include breakpoint(sm) {
    font-size: 15px;
  }
}
.font-subtitle { @include font-subtitle; }


::-moz-selection { background: #FECCE3; }
::selection { background: #FECCE3; }
