///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

$font-stack-regular: 'founders-grotesk-regular', sans-serif;
$font-stack-bold: 'founders-grotesk-semibold', sans-serif;
$font-stack-title: 'freya-medium', serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

@mixin font-regular {
  font-family: $font-stack-regular;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0;

  @include breakpoint(sm) {
    font-size: 36px;
  }
}
.font-regular { @include font-regular; }

@mixin font-small {
  font-family: $font-stack-regular;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.4px;

  // @include breakpoint(sm) {
  //   font-size: 18px;
  // }
}
.font-small { @include font-small; }

@mixin font-title {
  font-family: $font-stack-title;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2.8px;

  @include breakpoint(sm) {
    font-size: 72px;
  }
}
.font-title { @include font-title; }

@mixin font-subtitle {
  font-family: $font-stack-bold;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  @include breakpoint(sm) {
    font-size: 18px;
  }
}
.font-subtitle { @include font-subtitle; }
