// Auto carousels

.auto-carousel {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  letter-spacing: -4px;

  img {
    max-height: 200px;
    margin-right: 15px;

    @include breakpoint(sm) {
      max-height: 500px;
      margin-right: $gutter * 2;
    }
  }
}
