// Carousels

.carousel {
  background-color: #fff;
  padding: 3rem 0;
  position: relative;

  img {
    max-height: 700px;
  }
}

.carousel__caption-column {
  text-align: center;
  margin-bottom: 1rem;

  @include breakpoint(sm) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 0;
  }
}

.carousel__caption {
  @include font-small;
  text-align: left;
}

.carousel .flickity-prev-next-button {
  background: transparent !important;
  width: 30px;

  svg {
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    svg {
      transform: scale(1.5);
    }
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    svg {
      transform: scale(1);
    }
  }

  @include breakpoint(sm) {
    width: 44px;
  }
}

.flickity-prev-next-button.previous {
  left: 0 !important;

  @include breakpoint(sm) {
    left: 20px !important;
  }
}

.flickity-prev-next-button.next {
  right: 0 !important;

  @include breakpoint(sm) {
    right: 20px !important;
  }
}
