html {
  background-color: $body-color;
  color: $text-color;
  // text-align: center;
}

.site-container {
  max-width: $site-max-width;
  margin: 0 auto;

  @include breakpoint(md) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.content-container {
  max-width: $content-max-width;
  // max-width: 1274px;
  // padding: 0 217px;
  margin: 0 auto;
}

.block {
  margin: 0 auto;
  padding-bottom: $block-spacing;
}

.sm-inline {
  display: none;

  @include breakpoint(md) {
    display: inline;
  }
}

.footer {
  background-color: $body-color;
  padding-bottom: 2rem;
  position: relative;
}

.page-splash {
  position: relative;
  margin-bottom: $block-spacing;
}

.page-splash__title {
  position: absolute;
  top: 25vh;
  left: 50%;
}

.highlight {
  background-color: $light-blue;
}

.caption-constrainer {
  margin-top: 5px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(sm) {
    max-width: 220px;
    margin-top: 0;
    text-align: center;
  }
}

.text-center .caption-constrainer {
  margin-left: auto;
  margin-right: auto;
}
