// Montauk

.fish-animation {
  width: 396px;
  height: 328px;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.fish-animation__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../assets/images/fish_bg.jpg);
  background-size: cover;
  background-position: center center;
}

.fish-animation svg,
.fish-animation__svg-wrapper {
  width: 515px;
  height: 515px;
}

.fish-animation__svg-wrapper {
  animation: fishLoop 6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: -93px 0 0 -54px;
}

.getting-here-icon-wrapper {
  position: relative;

  @include breakpoint(sm) {
    height: 100px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.getting-here-caption {
  max-width: 250px;
  margin: 0 auto 2rem;

  @include breakpoint(sm) {
    margin: 0 auto;
  }
}

.weather-block {
  position: relative;
  overflow: hidden;
  padding-top: $block-spacing;
  padding-bottom: $block-spacing;
  margin-top: -$block-spacing;
  margin-bottom: $block-spacing;

  @include breakpoint(sm) {
    @include gutter-offset;
  }
}

.weather-block__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.weather-block__video-fallback {
  background-image: url(../assets/images/montauk/montauk-weather-fallback.jpg);
}

@keyframes fishLoop {
  0%   { transform: rotate(0deg); }
  40%   { transform: rotate(-180deg); }
  50%   { transform: rotate(-180deg); }
  90% { transform: rotate(-360deg); }
  100% { transform: rotate(-360deg); }
}
