<!DOCTYPE html>
<html>
  {% include head.html %}
  {% capture layout %}{% if page.layout %}layout--{{ page.layout }}{% endif %}{% endcapture %}
  <body class="{{ layout }}">
    <div class="container-fluid">
      {% include header.html %}

      <div class="page-splash">
        <div class="row text-left">
          <div class="col-sm-8">
            <div class="row">
              <img src="../assets/images/nika_dylan/hero.jpg">
            </div>
          </div>
          <div class="page-splash__title">
            <h1 class="font-jumbo">Dylan &amp; Nika</h1>
          </div>
        </div>
      </div>

      <div class="block block--with-overflow">
        <div class="site-container">
          <div class="row">
            <div class="col-sm-12">
              <div class="timeline">
                <div class="timeline__title font-subtitle text-center">
                  The<br>
                  Story of<br>
                  Us
                </div>
                <div class="timeline__line">
                  <a href="#2013" class="blank-link"><div class="timeline__line__point timeline__line__point--1"></div></a>
                  <a href="#2014" class="blank-link"><div class="timeline__line__point timeline__line__point--2"></div></a>
                  <a href="#2015" class="blank-link"><div class="timeline__line__point timeline__line__point--3"></div></a>
                  <a href="#2016" class="blank-link"><div class="timeline__line__point timeline__line__point--4"></div></a>
                  <a href="#2017" class="blank-link"><div class="timeline__line__point timeline__line__point--5"></div></a>
                </div>
                <div class="timeline__years">
                  <div class="timeline__years__year timeline__years__year--1 subtitle"><a href="#2013" class="blank-link-hover">2013</a></div>
                  <div class="timeline__years__year timeline__years__year--2 subtitle"><a href="#2014" class="blank-link-hover">2014</a></div>
                  <div class="timeline__years__year timeline__years__year--3 subtitle"><a href="#2015" class="blank-link-hover">2015</a></div>
                  <div class="timeline__years__year timeline__years__year--4 subtitle"><a href="#2016" class="blank-link-hover">2016</a></div>
                  <div class="timeline__years__year timeline__years__year--5 subtitle"><a href="#2017" class="blank-link-hover">2017</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- / container-fluid -->

    <div class="sticky-container">
      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="sticky-title" id="2013">2013</h2>
              </div>
              <div class="col-sm-7 text-left">
                <p>Our romance began in 2013 when our paths crossed at Linked by Air, a design studio in New York, where we were both working.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container text-left">
            <div class="row">
              <div class="col-sm-7 col-sm-push-3 col-sm-offset-1 va-middle">
                <img src="../assets/images/nika_dylan/2013/working-together.jpg" title="Dylan and Nika working on a Midnight Madness puzzle at Linked by Air.">
              </div>
              <div class="col-sm-3 col-sm-pull-7 va-middle">
                <div class="caption-constrainer">
                  <p class="font-subtitle">
                    WORKING LATE FOR AN EVENT OCTOBER 2013
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            This year we <span class="highlight">fell in love</span>
          </p>
        </div>

      </div><!-- / container-fluid -->

      <div class="block">
        <div class="auto-carousel">
          {% for index in (1..4) %}
            <img src="../assets/images/nika_dylan/2013/carousel-{{ index }}.jpg">
          {% endfor %}
        </div>
      </div>

    </div><!-- / sticky-container -->

    <div class="sticky-container">
      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="sticky-title" id="2014">2014</h2>
              </div>
              <div class="col-sm-7 text-left">
                <p>From traveling to Norway, meeting each other&rsquo;s parents, and moving in, 2014 was full of milestones.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2014/norway1.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="row">
            <div class="carousel">
              <!-- arousel item -->
              <div class="col-sm-10 col-sm-offset-1">
                <div class="site-container text-left">
                  <div class="row">
                    <div class="carousel__caption-column col-sm-4">
                      <div class="carousel__caption">
                        <div class="caption-constrainer">
                          <p class="font-subtitle">DISCOVERING THE "HERITAGE HOMELAND"</p>
                          <p class="font-subtitle">JULY 2014</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4 text-center">
                      <img src="../assets/images/nika_dylan/2014/norway-carousel/norway-firstimage.jpg">
                    </div>
                  </div>
                </div>
              </div>
              <!-- / carousel item -->
              {% for index in (1..8) %}
                <!-- arousel item -->
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="site-container text-left">
                    <div class="row">
                      <div class="col-sm-12 text-center">
                        <img src="../assets/images/nika_dylan/2014/norway-carousel/carousel-{{ index }}.jpg">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / carousel item -->
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2014/astoria.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            We made Astoria, NY <span class="highlight">our home</span>.
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-7 va-middle">
                <img src="../assets/images/nika_dylan/2014/moving-in-1.jpg">
              </div>
              <div class="col-sm-5 va-middle">
                <img src="../assets/images/nika_dylan/2014/moving-in-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4 va-middle text-center">
                <div class="caption-constrainer">
                  <p class="font-subtitle">CHEERLEADER &amp; FOOTBALL PLAYER</p>
                  <p class="font-subtitle">HALLOWEEN 2014</p>
                </div>
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2014/halloween-3.jpg">
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2014/halloween-1.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            We spent <span class="highlight">Christmas in Seattle</span><br>for the first time.
          </p>
        </div>

      </div><!-- container-fluid -->

      <div class="block overflow-hidden">
        <div class="row">
          <div class="col-sm-4 va-middle text-center">
            <img src="../assets/images/nika_dylan/2014/xmas-carousel/xmas-1.jpg">
          </div>
          <div class="col-sm-4 va-middle">
            <img src="../assets/images/nika_dylan/2014/xmas-carousel/xmas-2.jpg">
          </div>
          <div class="col-sm-4 va-middle">
            <img src="../assets/images/nika_dylan/2014/xmas-carousel/xmas-3.jpg">
          </div>
        </div>
      </div>

    </div><!-- / sticky-container -->

    <div class="sticky-container">
      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="sticky-title" id="2015">2015</h2>
              </div>
              <div class="col-sm-7 text-left">
                <p>Adventuring to Miami, Montauk, Serbia and Italy defined 2015.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2015/2015-hero.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4 va-middle text-center">
                <div class="caption-constrainer">
                  <p class="font-subtitle">SPRING BREAK FOREVER, BITCHES</p>
                  <p class="font-subtitle">APRIL 2015</p>
                </div>
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2015/springbreak-1.jpg">
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2015/springbreak-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            We discovered <span class="highlight">Montauk</span>.
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-7 va-middle">
                <img src="../assets/images/nika_dylan/2015/montauk-1.jpg">
              </div>
              <div class="col-sm-5 va-middle">
                <img src="../assets/images/nika_dylan/2015/montauk-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="row">
            <div class="carousel">
              <!-- arousel item -->
              <div class="col-sm-10 col-sm-offset-1">
                <div class="site-container text-left">
                  <div class="row">
                    <div class="carousel__caption-column col-sm-4">
                      <div class="carousel__caption">
                        <div class="caption-constrainer">
                          <p class="font-subtitle">Exploring Serbia &amp; Italy</p>
                          <p class="font-subtitle">July 2015</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4 text-center">
                      <img src="../assets/images/nika_dylan/2015/serbia-italy/first-img.jpg">
                    </div>
                  </div>
                </div>
              </div>
              <!-- / carousel item -->
              {% for index in (2..17) %}
                <!-- carousel item -->
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="site-container text-left">
                    <div class="row">
                      <div class="col-sm-12 text-center">
                        <img src="../assets/images/nika_dylan/2015/serbia-italy/carousel-{{ index }}.jpg">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / carousel item -->
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="block">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="site-container text-left">
                <div class="row">
                  <div class="carousel__caption-column col-sm-4">
                    <div class="carousel__caption">
                      <div class="caption-constrainer">
                        <p class="font-subtitle">Caleb &amp; Natalia&rsquo;s Wedding in Ashland, Oregon</p>
                        <p class="font-subtitle">August 2015</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8 col-sm-offset-4 text-center">
                    <img src="../assets/images/nika_dylan/2015/wedding.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            Enjoyed fall and winter in New York, Marin and Seattle.
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2015/ballet.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2015/sf.jpg">
              </div>
            </div>
          </div>
        </div>

      </div><!-- / container-fluid -->
    </div><!-- / sticky-container -->

    <div class="sticky-container">
      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="sticky-title" id="2016">2016</h2>
              </div>
              <div class="col-sm-7 text-left">
                <p>Balmy weather, tropical drinks and island life inspired us this year, as we traveled to the Caribbean 2x.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2016/34.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2016/35.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2016/36.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            DROVE ACROSS PUERTO RICO IN ONE DAY.
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-7 va-middle">
                <img src="../assets/images/nika_dylan/2016/puerto-rico-1.jpg">
              </div>
              <div class="col-sm-5 va-middle">
                <img src="../assets/images/nika_dylan/2016/puerto-rico-2.jpg">
              </div>
            </div>
          </div>
        </div>

      </div><!-- / container-fluid -->

      <div class="block">
        <div class="auto-carousel">
          {% for index in (1..6) %}
            <img src="../assets/images/nika_dylan/2016/unusual-carousel/light-{{ index }}.jpg">
          {% endfor %}
        </div>
      </div>

      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-7 va-middle">
                <img src="../assets/images/nika_dylan/2016/puerto-rico-3.jpg">
              </div>
              <div class="col-sm-5 va-middle">
                <img src="../assets/images/nika_dylan/2016/puerto-rico-4.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <p class="font-subtitle text-center">
            Get lost in caves.
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2016/puerto-rico-5.jpg">
              </div>
            </div>
          </div>
        </div>

      </div><!-- / container-fluid -->
    </div><!-- / sticky-container -->

    <div class="sticky-container">
      <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="sticky-title" id="2017">2017</h2>
              </div>
              <div class="col-sm-7 text-left">
                <p>A transformative year full of self reflection. So far we explored the great outdoors in Grenada and Vermont, co-taught a class at Parsons School of Design, and got engaged.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2017/hero.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2017/grenada-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-4 va-middle text-center">
                <div class="caption-constrainer">
                  <p class="font-subtitle">MEETING A MONKEY</p>
                  <p class="font-subtitle">MARCH 2017</p>
                </div>
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2017/monkey-1.jpg">
              </div>
              <div class="col-sm-4 va-middle">
                <img src="../assets/images/nika_dylan/2017/monkey-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="engaged-text">
                <div class="engaged-text__background-wrapper">
                  <div class="engaged-text__background"></div>
                </div>
                {% include svg/engaged_text.svg %}
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-7 va-middle">
                <img src="../assets/images/nika_dylan/2017/engaged/engaged-1.jpg">
              </div>
              <div class="col-sm-5 va-middle">
                <img src="../assets/images/nika_dylan/2017/engaged/engaged-2.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2017/engaged/engaged-3.jpg">
              </div>
            </div>
          </div>
        </div>

      </div><!-- / container-fluid -->

        <div class="block overflow-hidden">
          <div class="row">
            <div class="col-sm-4 va-middle text-center">
              <img src="../assets/images/nika_dylan/2017/happy-1.jpg">
            </div>
            <div class="col-sm-4 va-middle">
              <img src="../assets/images/nika_dylan/2017/happy-2.jpg">
            </div>
            <div class="col-sm-4 va-middle">
              <img src="../assets/images/nika_dylan/2017/happy-3.jpg">
            </div>
          </div>
        </div>

      <div class="container-fluid">

        <div class="block">
          <p class="font-subtitle text-center">
            CLIMBED MOUNT MANSFIELD, Stowe, VT
          </p>
        </div>

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <img src="../assets/images/nika_dylan/2017/vermont.jpg">
              </div>
            </div>
          </div>
        </div>

      </div><!-- / container-fluid -->

      <div class="block">
        <div class="text-fade-in">
          <div class="text-fade-in__text">
            <p class="text-center">As the years pass, we look forward to making more memories. We can&rsquo;t wait to celebrate with you in 2018.</p>
          </div>
          <img src="../assets/images/nika_dylan/2017/sky.jpg">
        </div>
      </div>

    </div><!-- / sticky-container -->

    <div class="container-fluid">

        <div class="block">
          <div class="site-container">
            <div class="row">
              <div class="col-sm-12">
                <p class="font-subtitle text-center">
                  SITE DESIGN, PROGRAMMING,<br class="sm-inline">
                  PHOTOGRAPHS, AND ILLUSTRATIONS<br class="sm-inline">
                  BY <a class="default-link" href="http://dylanfisher.com/" target="_blank">DYLAN</a> &amp; <a class="default-link" href="http://nikasimovich.com/" target="_blank">NIKA</a>
                </p>
              </div>
            </div>
          </div>
        </div>

    </div><!-- / container-fluid -->

    <div class="container-fluid">
      {% include footer.html %}
    </div><!-- container-fluid -->
  </body>
</html>
