<!DOCTYPE html>
<html>
  {% include head.html %}
  {% capture layout %}{% if page.layout %}layout--{{ page.layout }}{% endif %}{% endcapture %}
  <body class="container-fluid {{ layout }}">
    {% include header.html %}
    <div class="page-splash">
      <div class="row text-left">
        <div class="col-sm-8">
          <div class="row">
            <img src="../assets/images/montauk-5@2x.jpg">>
          </div>
        </div>
        <div class="page-splash__title">
          <h1>Montauk, NY</h1>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-10">
            <p>
              From dove grey skies kissing the electric ocean<br class="sm-inline">
              to romantic clouds hovering over the dunes,<br class="sm-inline">
              the textures of Montauk resemble a surreal<br class="sm-inline">
              union of the elements.
            </p>
            <p>
              As the promise of Spring slowly transcends,<br class="sm-inline">
              we’ll honor our love in a celebration of Mother Earth<br class="sm-inline">
              and the richness she provides at Gurney's<br class="sm-inline">
              Montauk on April 7, 2018.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="fish-animation">
        <div class="fish-animation__background"></div>
        <div class="fish-animation__svg-wrapper">
          {% include svg/fish_cutout.svg %}
        </div>
      </div>
    </div>

    <div class="block">
      <h2>
        Getting to<br class="sm-inline">
        Montauk
      </h2>
    </div>

    <div class="block">
      <div class="site-container">
        <div class="row">
          <div class="col-sm-4">
            <div class="getting-here-icon-wrapper">
              {% include svg/car.svg %}
            </div>
            <div>Car</div>
            <div class="font-small">
              Montauk is 2.5 hour drive from New York City.
            </div>
          </div>
          <div class="col-sm-4">
            <div class="getting-here-icon-wrapper">
              {% include svg/bus.svg %}
            </div>
            <div>Bus</div>
            <div class="font-small">
              Take the Hampton Jitney bus from New York City, JFK, LaGuardia or MacArthur Airport
            </div>
          </div>
          <div class="col-sm-4">
            <div class="getting-here-icon-wrapper">
              {% include svg/Train.svg %}
            </div>
            <div>Train</div>
            <div class="font-small">
              Train directions lorem ipsum
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-8">
            <h3>Where to Stay</h3>
            <p>
              While all our events will be at Gurney's<br class="sm-inline">
              Resort, anywhere else in Montauk<br class="sm-inline">
              is a quick drive.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="carousel">
          <!-- arousel item -->
          <div class="col-sm-10 col-sm-offset-1">
            <div class="site-container">
              <div class="row">
                <div class="carousel__caption-column col-sm-4">
                  <div class="carousel__caption">
                    <p>
                      <strong>Gurney's Resort and Seawater Spa</strong>
                      <br>
                      Room block under Fisher/Simovich Wedding available until January 10, 2018. Please call the hotel's reservation manager, Amy Florence at (631) 668-1752 for info.
                    </p>
                    <p>
                      290 Old Montauk Highway
                      <br>
                      Montauk, NY 11954
                    </p>
                    <p>
                      <a href="http://www.gurneysmontauk.com/" class="default-link">More Info</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <img src="../assets/images/montauk/carousel-gurneys.jpg">
                </div>
              </div>
            </div>
          </div>
          <!-- / carousel item -->
          <!-- carousel item -->
          <div class="col-sm-10 col-sm-offset-1">
            <div class="site-container">
              <div class="row">
                <div class="carousel__caption-column col-sm-4">
                  <div class="carousel__caption">
                    <p>
                      <strong>The Ocean Resort Inn</strong>
                      <br>
                      We stayed here in May 2017. Lovely beach feel, green carpetted rooms and right in the center of Montauk. About a 5 minute drive to Gurney's, walking distance to beach and shops.
                    </p>
                    <p>
                      95 S Emerson Ave
                      <br>
                      Montauk, NY 11954
                    </p>
                    <p>
                      <a href="https://www.oceanresortinn.com/" class="default-link">More Info</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <img src="../assets/images/montauk/carousel_ocean-resort.jpg">
                </div>
              </div>
            </div>
          </div>
          <!-- / carousel item -->
          <!-- arousel item -->
          <div class="col-sm-10 col-sm-offset-1">
            <div class="site-container">
              <div class="row">
                <div class="carousel__caption-column col-sm-4">
                  <div class="carousel__caption">
                    <p>
                      <strong>Surflodge</strong>
                      <br>
                      Lorem ipsum
                    </p>
                    <p>
                      123 address test
                      <br>
                      Montauk, NY 11954
                    </p>
                    <p>
                      <a href="http://www.gurneysmontauk.com/" class="default-link">More Info</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <img src="../assets/images/montauk/carousel-surflodge.jpg">
                </div>
              </div>
            </div>
          </div>
          <!-- / carousel item -->
        </div>
      </div>
    </div>

    <div class="block weather-block">
      {% if jekyll.environment == "production" %}
        {% assign video_url = 'http://dcgpqqlepqtz2.cloudfront.net/etc/sky_video.mp4' %}
      {% else %}
        {% assign video_url = '/local_content/sky_video.mp4' %}
      {% endif %}
      <video class="weather-block__video" src="{{ video_url }}" autoplay loop muted></video>
      <div class="row">
        <div class="site-container">
          <div class="col-sm-10">
            <h2>Weather</h2>
            <p>
              Montauk is right on the Atlantic Ocean, so sea breeze is common all year. Grey skies and cold weather are common in April, as Winter overstays its welcome most years. The event will have an indoor and heated outdoor section, but plan accordingly.
            </p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
