<!DOCTYPE html>
<html>
  {% include head.html %}
  {% capture layout %}{% if page.layout %}layout--{{ page.layout }}{% endif %}{% endcapture %}
  <body class="container-fluid {{ layout }}">
    {% include header.html %}

    <div class="page-splash">
      <div class="row text-left">
        <div class="col-sm-8 col-sm-offset-4">
          <div class="row">
            <img src="../assets/images/montauk-6@2x.jpg">>
          </div>
        </div>
        <div class="page-splash__title--order-of-events">
          <h1>Order of Events</h1>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <p>
              From dove grey skies kissing the electric ocean<br class="sm-inline">
              to romantic clouds hovering over the dunes,<br class="sm-inline">
              the textures of Montauk resemble a surreal<br class="sm-inline">
              union of the elements.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-8">
            <img src="../assets/images/montauk-7@2x.jpg">
          </div>
          <div class="col-sm-4 text-left">
            <p><span class="highlight">The Rehearsal Dinner</span> will be the first time our families will meet.</p>
            <div class="font-small">
              <p>
                <strong>Attendants</strong>
                <br>
                Wedding party only
              </p>
              <p>
                <strong>Date</strong>
                <br>
                Date Friday April 6, 2018
              </p>
              <p>
                <strong>Location</strong>
                <br>
                Scarpetta Beach at Gurney's Montauk Time TBD
              </p>
              <p>
                <strong>Dress Code</strong>
                <br>
                Dressy Casual
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-4 text-left">
            <p>Witness our love at the <span class="highlight">Wedding Ceremony &amp; Reception</span></p>
            <div class="font-small">
              <p>
                <strong>Attendants</strong>
                <br>
                All guests
              </p>
              <p>
                <strong>Date</strong>
                <br>
                Friday April 6, 2018
              </p>
              <p>
                <strong>Location</strong>
                <br>
                Gurney's Montauk
              </p>
              <p>
                <strong>Schedule</strong>
                <br>
                Ceremony 3:30 – 5 pm<br>
                Cocktail Hour 5 – 6 pm<br>
                Reception 6 – 10:30 pm<br>
                After Party 10:30 – 12:30 am
              </p>
              <p>
                <strong>Dess Code</strong>
                <br>
                Formal / Black Tie Optional
              </p>
            </div>
          </div>
          <div class="col-sm-8">
            <img src="../assets/images/montauk-8@2x.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="site-container">
          <div class="col-sm-8">
            <img src="../assets/images/montauk-9@2x.jpg">
          </div>
          <div class="col-sm-4 text-left">
            <p>Say goodbye to us at the <span class="highlight">Farewell Brunch</span></p>
            <div class="font-small">
              <p>
                <strong>Attendants</strong>
                <br>
                TBD
              </p>
              <p>
                <strong>Date</strong>
                <br>
                Sunday April 8, 2018
              </p>
              <p>
                <strong>Location</strong>
                <br>
                TBD
              </p>
              <p>
                <strong>Dress Code</strong>
                <br>
                Casual
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
