html {
  @include font-regular;
  box-sizing: border-box;
  font-style: normal;
  font-feature-settings: 'liga' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  vertical-align: top;
}

img {
  max-width: 100%;
}
