html {
  @include font-regular;
  text-rendering: optimizeLegibility;
  font-style: normal;
  box-sizing: border-box;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  vertical-align: top;
}

img {
  max-width: 100%;
}
