.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

.va-top    { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

.overflow-hidden { overflow: hidden; }

.xs-inline-only {
  display: none;

  @include breakpoint(xs) {
    display: inline;
  }
}
