h1, h2, h3, h4, h5, h6 {
  font-weight: normal;

  &:first-child {
    margin-top: 0;
  }
}

h1, h2,
.title {
  @include font-title;
  margin: 2rem 0 1rem;
}

h3, h4, h5, h6,
.subtitle {
  @include font-subtitle;
  margin: 1rem 0 0.5rem;
}

ul, p {
  margin: 0 0 1.7em;

  &:last-child {
    margin-bottom: 0;
  }
}

.small-title {
  font-family: $font-stack-title;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -0.91px;
}
